[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
langchain = "*"
python-dotenv = "*"
requests = "*"
faiss-cpu = "*"
langchain-community = "*"
langchain-ollama = "*"
bs4 = "*"
boto3 = "*"
llama-api-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
